[submodule "extensions-lab"]
	path = extensions-lab
	url = https://github.com/asciidocfx/asciidoctor-extensions-lab.git
[submodule "asciidoctor"]
	path = asciidoctor
	url = https://github.com/asciidocfx/asciidoctor.git
